@import 'utilities/fonts';
@import 'utilities/variables';
@import 'vendor-extensions/bootstrap';

$body-color: $gray-900;

$link-color: $gray-900;
$link-hover-color: $gray-900;

$text-muted: $gray-500;

$dropdown-link-active-color: darken($gray-900, 5%);
$dropdown-link-active-bg: $gray-100;

$custom-control-indicator-bg: $text-muted;

.shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.controls {
    background-color: $white;
}

.navbar-mini {
    background-color: $white;
}

.primary {
    fill: $gray-500;
}

.secondary {
    fill: $gray-700;
}

.logo-primary {
    fill: $gray-500;
}

.logo-secondary {
    fill: $gray-700;
}

.fill-bg {
    fill: $white;
}

.fill-body-color {
    fill: $body-color;
}

.font-serif {
    font-family: $font-family-serif;
}

.font-sans {
    font-family: $font-family-sans-serif;
}

@import 'vendor-extensions/vue';
@import 'vendor-extensions/nprogress';
@import 'vendor-extensions/multiselect';
@import 'vendor-extensions/switch';
@import 'vendor-extensions/filepond';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap';
