
@import 'variables';
@import 'overrides';

$link-color: $gray-900;

.controls {
    background-color: $white;
}

.primary {
    fill: $gray-500;
}

.secondary {
    fill: $gray-700;
}

.font-serif {
    font-family: $font-family-serif;
}

.font-sans {
    font-family: $font-family-sans-serif;
}

[v-cloak] {
    display: none;
}

@import 'nprogress';
@import 'multiselect';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap';
