
// Typography
$font-family-sans-serif: "Karla", sans-serif;
$font-family-serif: "Merriweather", serif;
$fa-font-path: "../fonts" !default;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Variables
$light-grey: #a0aec0;
$orange: #f6993f;
$dark-grey: #444;
$green: #029E74;
$blue: #3490dc;
$red: #e3342f;

// Base
@import "base";
