.getting-started {
    list-style: none;
    padding: 0;
    li {
        padding-top: 15px;
    }
    i {
        padding-right: 10px;
    }
}

#help-intro {
    margin-bottom: 0;
    li {
        padding: 5px;
    }
}

.profile-info {
    margin-top: 6px !important;
}

.profile-ul {
    margin-bottom: 6px !important;
}

.main-ul {
    margin-top: -1px !important;
}

.folder-paths li {
    color: $brand-primary !important;
}

.breadcrumb {
    padding-left: 0px !important;
}

.cl {
    height: 45px;
    margin-top: -11px;
}

.cl-center {
    position: absolute !important;
    height: 45px;
    margin: auto !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;

    @media (min-width: 768px) and (max-width: 991px) {
        display: none !important;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        display: none !important;
    }
    @media (min-width: 1200px) {
        display: none !important;
    }
}

.help-block-error {
    display: none !important;
}

.label-totals {
    float: right;
}

.dropdown-menu {
    z-index: 15;
}

.help-topic-header {
    font-weight: normal;
    font-size: 17px;
}

input#layout:disabled {
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
}

// Full Screen Editor Changes...
.editor-toolbar.fullscreen, .editor-preview-side, .CodeMirror-fullscreen {
  z-index: 12;
}

.editor-toolbar.fullscreen {
  top: 70px;
}

.editor-preview-side, .CodeMirror-fullscreen {
  top: 120px;
  img {
    @extend .img-responsive;
  }
}

.CodeMirror {
  height: 500px;
}

// Override media manager loading spinner colour
.spinner {
  color: $brand-primary !important;
}

// Alter the highlight colour for the tables with 'active' rows
.table {
  tbody {
    tr {
      &.active {
        td {
          background-color: $brand-primary !important;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}