@import "home-variables.less";
@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,900italic,900,700italic";

/*
|--------------------------------------------------------------------------
| Set custom styles for the home page here.
|--------------------------------------------------------------------------
*/

body {
    font-family: 'Source Sans Pro' !important;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-spacing: 1px;
    letter-spacing: 1px;
}

li {
    display: inline-block;
    list-style-type: none;
}

.features {
    color: @gray-light;
    font-weight: 400 !important;
    margin-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
    color: @gray-light;
}

.laptop {
    float: right;
    margin: 25px -15px 25px 0;
}

.title {
    margin-top: 80px;
    font-size: 72px;
    font-weight: 300 !important;
    color: @gray;
}

.row-1 {
    margin-top: 25px;
}

.row-2 {
    margin-top: 25px;
}

/* Tablets */
@media only screen and (max-width: 992px) {
    .laptop {
        display: none !important;
    }

    .title {
        margin: 0;
    }

    .feature-block {
        margin-top: 25px;
    }

    .row-1 {
        margin-top: 0;
    }

    .row-2 {
        margin-top: 0;
    }
}

/* Phones */
@media only screen and (max-width: 768px) {
    .laptop {
        display: none !important;
    }

    .title {
        margin: 0;
    }

    .feature-block {
        margin-top: 25px;
    }

    .row-1 {
        margin-top: 0;
    }

    .row-2 {
        margin-top: 0;
    }
}